@font-face {
	font-family: "Vazirmatn";
	src: url("../files/fonts/Vazirmatn-NL-Thin.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Vazirmatn";
	src: url("../files/fonts/Vazirmatn-NL-ExtraLight.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Vazirmatn";
	src: url("../files/fonts/Vazirmatn-NL-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Vazirmatn";
	src: url("../files/fonts/Vazirmatn-NL-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Vazirmatn";
	src: url("../files/fonts/Vazirmatn-NL-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Vazirmatn";
	src: url("../files/fonts/Vazirmatn-NL-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Vazirmatn";
	src: url("../files/fonts/Vazirmatn-NL-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Vazirmatn";
	src: url("../files/fonts/Vazirmatn-NL-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Vazirmatn";
	src: url("../files/fonts/Vazirmatn-NL-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ubuntu";
	src: url("../files/fonts/Ubuntu-Light.ttf") format("woff2");
	font-weight: 300;
}
@font-face {
	font-family: "Ubuntu";
	src: url("../files/fonts/Ubuntu-Regular.ttf") format("woff2");
	font-weight: 400;
}
@font-face {
	font-family: "Ubuntu";
	src: url("../files/fonts/Ubuntu-Medium.ttf") format("woff2");
	font-weight: 500;
}
@font-face {
	font-family: "Ubuntu";
	src: url("../files/fonts/Ubuntu-Bold.ttf") format("woff2");
	font-weight: 700;
}
