*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	color-adjust: exact !important;
	print-color-adjust: exact !important;
}
html {
	font-size: 62.5%;
	color: var(--black);
}
:root {
	--bleeding: 0.2cm;
	--margin: 0.5cm;
}
*::selection {
	color: #fff;
	background-color: var(--p-shade);
}
body {
	margin: 0 auto;
	padding: 0;
	background: var(--gray);
	display: flex;
	flex-direction: column;
	font-family: "Vazirmatn", "Ubuntu";
}
@page {
	size: A4;
	margin: 0;
}
.page {
	display: inline-block;
	position: relative;
	height: 297mm;
	width: 210mm;
	font-size: 1.6rem;
	margin: 2em auto;
	padding: calc(var(--bleeding) + var(--margin));
	box-shadow: 0 0 0.3cm rgba(0, 0, 0, 0.7);
	background: #fff;
}
@media screen {
	.page::after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: calc(100% - var(--bleeding) * 2);
		height: calc(100% - var(--bleeding) * 2);
		margin: var(--bleeding);
		outline: thin solid var(--gray);
		pointer-events: none;
		z-index: 9999;
	}
}
@media print {
	.page {
		margin: 0;
		overflow: hidden;
	}
	#print {
		display: none;
		opacity: 0;
		cursor: default;
	}
}
a:link,
a:visited {
	color: unset;
	text-decoration: underline dotted var(--gray) 1px;
	transition: color 0.1s;
}
a:hover {
	color: var(--secondary);
}
a:active {
	text-decoration: none;
}
strong {
	font-weight: 600;
}
h3 {
	color: var(--primary);
	margin-bottom: 1rem;
}
h3::before {
	content: "+ ";
}
h4 {
	color: var(--secondary);
}
ul li::marker {
	color: var(--secondary);
}
.m-right {
	margin-right: 2rem;
}
.grid__2-col {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.grid__3-col {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.grid__sm {
	row-gap: 0.2rem;
}
.grid__md {
	row-gap: 0.6rem;
}
.grid__lg {
	row-gap: 1rem;
}
.flex__item {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}
.date-span {
	background-color: var(--secondary);
	color: #fff;
	padding: 0.6rem 1.2rem;
	border-radius: 1rem;
	font-size: 1.4rem;
	font-weight: 400;
	align-self: flex-start;
}
#print {
	position: fixed;
	bottom: 5%;
	left: 5%;
	cursor: pointer;
	display: flex;
	background-color: var(--s-tint);
	padding: 0.4rem;
	border-radius: 0.4rem;
}
