*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
html {
	font-size: 62.5%;
	color: var(--black);
}
:root {
	--bleeding: 0.2cm;
	--margin: 0.5cm;
}
*::-moz-selection {
	color: #fff;
	background-color: var(--p-shade);
}
*::selection {
	color: #fff;
	background-color: var(--p-shade);
}
body {
	margin: 0 auto;
	padding: 0;
	background: var(--gray);
	display: flex;
	flex-direction: column;
	font-family: "Vazirmatn", "Ubuntu";
	font-weight: 500;
}
@page {
	size: A4;
	margin: 0;
}
.page {
	display: inline-block;
	position: relative;
	height: 297mm;
	width: 210mm;
	font-size: 1.6rem;
	margin: 2em auto;
	padding: calc(var(--bleeding) + var(--margin));
	box-shadow: 0 0 0.3cm rgba(0, 0, 0, 0.7);
	background: #fff;
}
a:link,
a:visited {
	color: unset;
	-webkit-text-decoration: underline dotted var(--gray) 1px;
	text-decoration: underline dotted var(--gray) 1px;
	transition: color 0.2s;
}
a:hover {
	color: var(--secondary);
}
a:active {
	text-decoration: none;
}
strong {
	font-weight: 600;
}
h3 {
	font-weight: 800;
	color: var(--primary);
	margin-bottom: 1rem;
}
h3::before {
	content: "+ ";
	color: var(--primary);
}
h4 {
	font-weight: 700;
	color: var(--secondary);
}
ul {
	list-style-type: "тип ";
}
ul li::marker {
	color: var(--secondary);
}
.m-right {
	margin-right: 2rem;
}
.grid__2-col {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.grid__3-col {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.grid__sm {
	row-gap: 0.2rem;
}
.grid__md {
	row-gap: 0.6rem;
}
.grid__lg {
	row-gap: 1rem;
}
.flex__item {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}
.span-item {
	direction: ltr;
	background-color: var(--primary);
	color: #fff;
	font-weight: 500;
	padding: 0.8rem 2rem;
	border-radius: 2rem;
	font-size: 1.5rem;
}
.date-span {
	background-color: var(--secondary);
	color: #fff;
	padding: 0.6rem 1.2rem;
	border-radius: 1rem;
	font-size: 1.4rem;
	font-weight: 400;
	align-self: flex-start;
}
#print {
	position: fixed;
	bottom: 5%;
	left: 5%;
	cursor: pointer;
	display: flex;
	background-color: var(--s-tint);
	padding: 0.4rem;
	border-radius: 0.4rem;
	fill: var(--black);
	border: 0.2rem solid var(--black);
	z-index: 99999;
	transition: all 0.2s;
}
#print:hover {
	background-color: var(--secondary);
	fill: #fff;
	border: 0.2rem solid #fff;
}
