:root {
	--black: #1f1f1f;
	--gray: #3f5874;
	--primary: #00509d;
	--p-tint: #4d85ba;
	--p-shade: #00305e;
	--secondary: #1f7a8c;
	--s-tint: #79afba;
	--s-shade: #134954;
}
.upper {
	height: 28%;
	display: flex;
	gap: 1.8rem;
	border-bottom: 1px solid var(--s-shade);
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	align-items: center;
	justify-content: center;
}
.upper-image {
	border-radius: 20%;
	-webkit-filter: saturate(1.1);
	filter: saturate(1.1);
	background-color: var(--p-shade);
}
.upper-text {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}
.upper-text__titlebox {
	color: var(--primary);
}
.upper-text__title {
	font-weight: 900;
	font-size: 2.8rem;
}
.upper-text__subtitle {
	font-weight: 800;
	font-size: 2.2rem;
}
.lower {
	display: flex;
	height: 70%;
	flex-direction: column;
	gap: 2.6rem;
}
.skills {
	display: flex;
	gap: 0.6rem;
}
.projects {
	row-gap: 2.6rem;
}
.project__item img {
	max-width: 65%;
	height: auto;
	border-radius: 1rem;
	border: 1px solid var(--s-shade);
	margin-right: 2rem;
	cursor: pointer;
	transition: -webkit-filter 0.2s;
	transition: filter 0.2s;
	transition: filter 0.2s, -webkit-filter 0.2s;
}
.project__item img:hover {
	-webkit-filter: contrast(0.7);
	filter: contrast(0.7);
}
